body{
    background-color: black;
    font-family:'fantasy';
}

.signup{
    margin: auto;
    width: 360px;
    height: 550px;
    background-color:white;
    border-radius: 5px;
}

h1{
    text-align: center;
}

form{
    width: 300px;
    margin-left: 20px;
}

form label{
    display: flex;
    margin-top: 20px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid black;
    outline: none;
}

input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color:lightgreen ;
}